.game-form {
    width: max-content;
    position: relative;
    margin: 0 auto;
    min-width: 224px;
    display: grid;
    gap: 16px;
    grid-template-columns: auto auto;
}

select {
    width: max-content;
    z-index: 20;
    min-width: 224px;
}

.input {
    max-width: 300px;
}

.error {
    margin: 8px;
}

.button {
    height: min-content;
    margin-top: auto;
}

::placeholder {
    color: hsl(0, 0%, 29%) !important;
    font-style: italic;
  }
